/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* common css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px
}

main {
    position: relative;
    transform: translateY(-200px);
}

a {
    text-decoration: none;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    align-items: center;
}

.link-button {
    color: #006DFE;
}

.link-button img {
    margin-left: 20px;
}

/* header */
header {
    color: #fff;
    height: 960px;
    background-image: url('../images/hero-banner-img.png');
    background-size: cover;
    display: none;
}

header::before {
    height: 960px;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%);
}

/* navbar */
nav {
    padding: 50px 75px 0 100px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 80px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

/* hero area */
.hero-area {
    padding: 50px 75px 0 100px;
    position: relative;
    /* border: 1px solid; */
}

.hero-area-title {
    font-size: 50px;
    line-height: 60px;
    margin: 100px 40% 0 0;
    /* border: 1px solid; */
}

.hero-area-info {
    line-height: 24px;
    margin: 20px 48% 0 0;

}

.search {
    margin-top: 80px;
}

.search-input-box {
    margin-right: 80px;
    padding-bottom: 20px;
    padding-right: 30px;
    border-bottom: 1px solid #fff;
}

.search-input-box img {
    margin-right: 20px;
}

.search-input-box input {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 24px;
}

.search-input-box input::placeholder {
    color: #fff;
}

#search-button {
    padding: 14px 36px;
    background-color: #1B7DFF;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* benefits area */
#benefits {
    /* display: none; */
}

.benefits-area {

    padding: 80px 60px 60px 80px;
    border: 1px solid;
    background-color: #fff;
}

.benefits-area-title {
    font-size: 35px;
    color: #102746;
    margin-bottom: 80px;
}

.benefits {
    justify-content: space-between;
}

.benefit {
    width: 300px;
}

.benefit h3 {
    margin: 30px 0 20px
}

.benefit p {
    margin-bottom: 30px;
}

/* get inspired */
#get-inspired-area {
    margin-top: 100px;
}

.get-inspired-top {
    justify-content: space-between;
    margin-bottom: 30px;
}
.get-inspired-top h1 > hr{
    width: 55%;
    margin-top: 8px;
    border: 1px solid #006DFE;
}
.get-inspired-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 350px 280px;
    gap: 5px;
    grid-template-areas:
        "one one one two two two"
        "three three four four five five"
}

.gallery-img {
    position: relative;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery-img-one {
    grid-area: one;
}

#gallery-img-two {
    grid-area: two;
}

#gallery-img-three {
    grid-area: three;
}

#gallery-img-four {
    grid-area: four;
}

#gallery-img-five {
    grid-area: five;
}

.img-detail {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 40px;
    padding: 25px;
}
